<div class="transactions">
  {{#each accounts as |account|}}
  {{!-- account balance --}}
  {{#if account.is_checking}}
  <h1>Account Balance</h1>

  <p> {{account.acc_balance}} </p>
  {{!-- {{else}}
  <p>No Checking Account</p> --}}
  {{/if}}
  {{/each}}

  {{!-- list previous transactions --}}

<div class="transactions">
  <div>
    {{!-- creates row headers --}}
    <h3>Previous Transactions</h3>
    
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item flex-fill">Transaction ID</li>
      <li class="list-group-item flex-fill">Amount</li>
      <li class="list-group-item flex-fill">Notes</li>
      <li class="list-group-item flex-fill">Payment Destination</li>
    </ul>

      {{#each transactions as |transaction|}}
      {{#if transaction.amount}}

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item flex-fill flex-wrap">Transaction ID</li>
          <li class="list-group-item flex-fill">{{transaction.amount}}</li>
          <li class="list-group-item flex-fill">{{transaction.notes}}</li>
          <li class="list-group-item flex-fill">{{transaction.payment_destination}} </li>
      </ul>
      {{/if}}
      {{/each}}
  </div>
  
{{!-- make a payment --}}

<div class="transaction-form">
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Payment Amount</label>
      <input type="text" class="form-control" placeholder="Amount">
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect2">Choose Payment Destination</label>
      <select multiple class="form-control" id="exampleFormControlSelect2">
        <option>Transfer to My Accounts</option>
        <option>Transfer to Another User</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Payment Notes</label>
      <input type="text" class="form-control" placeholder="Notes">
    </div>
  </form>

  <button type="button" class="btn btn-primary">Make Transaction</button>

  {{!-- make a deposit --}}

  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Deposit Amount</label>
      <input type="text" class="form-control" placeholder="Amount">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Deposit Notes</label>
      <input type="text" class="form-control" placeholder="Notes">
    </div>
  </form>

</div>
</div>
<button type="button" class="btn btn-primary">Make Transaction</button>