<div>
{{!-- account balance --}}
<h1>Account Balance</h1>
{{#if accounts.is_savings}}

<p> {{accounts.acc_balance}} </p>

{{else}}

<p>No Savings Account</p>

{{/if}}

{{!-- list previous transactions --}}

<div>
    <h3>Previous Transactions</h3>
    {{#if transactions.length}}
    {{#each transactions as |transaction|}}
    <div>
      {{!-- need transactions.id --}}
      <p>{{transactions.transaction_id}}</p>
      <p>{{transactions.amount}}</p>
      <p>{{transactions.notes}}</p>
      <p>{{transactions.payment_destination}}</p>
    </div>
    {{/each}}
{{#else}}
<p>No transactions</p>
</div>

{{!-- make a payment --}}

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Payment Amount</label>
    <input type="text" class="form-control" placeholder="Amount">
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect2">Choose Payment Destination</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Transfer to My Accounts</option>
      <option>Transfer to Another User</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Payment Notes</label>
    <input type="text" class="form-control" placeholder="Notes">
  </div>
</form>

{{!-- make a deposit --}}

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Deposit Amount</label>
    <input type="text" class="form-control" placeholder="Amount">
  </div>

  <div class="form-group">
    <label for="exampleFormControlInput1">Deposit Notes</label>
    <input type="text" class="form-control" placeholder="Notes">
  </div>
</form>

</div>
